In [1]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
office_df = pd.read_excel("Office Supply Campaign ResultS 7-23-19.xlsx")
office_df

,Customer Number,Campaign Period Sales,Historical Sales Volume,Date of First Purchase,Number of Prior Year Transactions,Do Not Direct Mail Solicit,Do Not Email,Do Not Telemarket,Repurchase Method,Last Transaction Channel,...,Executive Chair,Standard Chair,Monitor,Printer,Computer,Insurance,Toner,Office Supplies,Number of Employees,Language
0,86734.0,238.704762,1.468034e+05,1968-10-01,15.0,0.0,0.0,0.0,AUTO RENEW,AUTO RENEW,...,N,N,N,N,N,Y,N,Y,6-10,English
1,97098.0,281.680000,4.399842e+05,1981-06-15,22.0,0.0,0.0,0.0,NOTICE,MAIL,...,N,N,N,N,N,N,N,Y,11-50,English
2,100836.0,432.857143,9.704657e+05,1962-11-01,19.0,0.0,0.0,0.0,NOTICE,MAIL,...,N,N,N,N,N,N,N,Y,6-10,English
3,116390.0,0.000000,2.301936e+05,1983-06-01,17.0,0.0,0.0,0.0,NOTICE,PHONE,...,N,N,N,N,N,N,N,Y,1-5,English
4,127914.0,1370.166667,2.740333e+04,1987-07-15,21.0,0.0,0.0,0.0,NOTICE,BRANCH (PHONE),...,N,N,N,N,N,Y,N,N,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16168,167014041.0,0.000000,2.558801e+06,1994-06-01,7.0,0.0,0.0,0.0,NOTICE,MAIL,...,N,N,N,N,N,N,N,N,,NaN
16169,167077817.0,0.000000,2.355030e+06,1995-01-01,6.0,0.0,0.0,0.0,NOTICE,MAIL,...,N,N,N,N,N,N,N,N,,NaN
16170,167089540.0,0.000000,5.845700e+05,1996-02-01,2.0,0.0,1.0,0.0,NOTICE,MAIL,...,N,N,N,N,N,N,N,N,,NaN
16171,167235933.0,0.000000,1.949425e+06,1998-03-15,4.0,0.0,0.0,0.0,NOTICE,PHONE,...,N,N,N,N,N,N,N,N,,NaN
16172,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#sns.pairplot(office_df)

In [4]:
#office_supply[office_supply["Campaign Period Sales"]==0]["Executive Chair"].value_counts()

In [6]:
# def numeric_employees(df):
#     lst = df['Number of Employees'].tolist()
#     lst1 = []
#     lst2 = []
#     for ls in lst:
#         if type(ls)==str:
#             temp = ls.split('-')
#             if len(temp)>1:
#                 lst1.append((int(ls[0])+int(ls[1]))/2)
#                 lst2.append((int(ls[0])+int(ls[1]))/2)
#             else:
#                 lst1.append(int(ls[0]))
#                 lst2.append(int(ls[0]))
#         else:
#             lst1.append(ls)
#     mean = np.mean(lst2)
#     df['Number of Employees'] = lst1
#     df['Number of Employees'] = office_df['Number of Employees'].fillna(mean)
#     return df

In [6]:
office_supply['Desk'].value_counts() # Desk ==911 as missing value
                                     # YY should be changed to Y( not yet changed)
# N      15260
# Y        911
# 911        1
# YY         1

N     15260
Y       911
YY        1
Name: Desk, dtype: int64

In [7]:
office_supply.isna().sum() # total null value of each column

Customer Number                         1
Campaign Period Sales                   1
Historical Sales Volume                 1
Date of First Purchase                  1
Number of Prior Year Transactions       1
Do Not Direct Mail Solicit              1
Do Not Email                            1
Do Not Telemarket                       1
Repurchase Method                       1
Last Transaction Channel              443
Desk                                    1
Executive Chair                         2
Standard Chair                          2
Monitor                                 2
Printer                                 2
Computer                                1
Insurance                               3
Toner                                   3
Office Supplies                         1
Number of Employees                     3
Language                             4472
dtype: int64

In [8]:
office_supply.isna().sum() # total null value of each column

Customer Number                         1
Campaign Period Sales                   1
Historical Sales Volume                 1
Date of First Purchase                  1
Number of Prior Year Transactions       1
Do Not Direct Mail Solicit              1
Do Not Email                            1
Do Not Telemarket                       1
Repurchase Method                       1
Last Transaction Channel              443
Desk                                    1
Executive Chair                         2
Standard Chair                          2
Monitor                                 2
Printer                                 2
Computer                                1
Insurance                               3
Toner                                   3
Office Supplies                         1
Number of Employees                     3
Language                             4472
dtype: int64

In [9]:
office_supply['Language'].value_counts()

English       11317
Spanish          88
Italian          46
Portuguese       41
Hindi            40
Chinese          34
Russian          24
Hebrew           20
Arabic           18
German           15
Greek            15
Japanese         11
Polish           10
Vietnamese        9
French            6
Korean            4
Thai              2
Pashto            1
Name: Language, dtype: int64

In [10]:
office_supply[office_supply['Language'].isna()] # data records with all null in 'Language' column

,Customer Number,Campaign Period Sales,Historical Sales Volume,Date of First Purchase,Number of Prior Year Transactions,Do Not Direct Mail Solicit,Do Not Email,Do Not Telemarket,Repurchase Method,Last Transaction Channel,...,Executive Chair,Standard Chair,Monitor,Printer,Computer,Insurance,Toner,Office Supplies,Number of Employees,Language
4,127914.0,1370.166667,2.740333e+04,1987-07-15,21.0,0.0,0.0,0.0,NOTICE,BRANCH (PHONE),...,N,N,N,N,N,Y,N,N,,NaN
7,164322.0,0.000000,1.377761e+06,1985-09-01,21.0,0.0,0.0,0.0,NOTICE,MAIL,...,N,N,N,N,N,N,N,Y,51-100,NaN
8,166859.0,2241.500000,6.096880e+05,1978-02-01,32.0,0.0,1.0,0.0,NOTICE,MAIL,...,N,N,N,N,N,Y,N,N,,NaN
29,292424.0,0.000000,2.868293e+05,1990-01-15,1.0,1.0,1.0,1.0,NOTICE,MAIL,...,N,N,N,N,N,N,N,N,,NaN
39,342310.0,0.000000,1.052576e+05,1990-04-15,16.0,0.0,0.0,0.0,NOTICE,MAIL,...,N,N,N,N,N,N,N,N,11-50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16168,167014041.0,0.000000,2.558801e+06,1994-06-01,7.0,0.0,0.0,0.0,NOTICE,MAIL,...,N,N,N,N,N,N,N,N,,NaN
16169,167077817.0,0.000000,2.355030e+06,1995-01-01,6.0,0.0,0.0,0.0,NOTICE,MAIL,...,N,N,N,N,N,N,N,N,,NaN
16170,167089540.0,0.000000,5.845700e+05,1996-02-01,2.0,0.0,1.0,0.0,NOTICE,MAIL,...,N,N,N,N,N,N,N,N,,NaN
16171,167235933.0,0.000000,1.949425e+06,1998-03-15,4.0,0.0,0.0,0.0,NOTICE,PHONE,...,N,N,N,N,N,N,N,N,,NaN
16172,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
office_supply.dropna(how = 'any').shape # temporarily drops all the records with missing values

(11411, 21)

In [12]:
office_supply[office_supply["Customer Number"].isnull()]# the row with na in 'Customer Number' is also na for any column

,Customer Number,Campaign Period Sales,Historical Sales Volume,Date of First Purchase,Number of Prior Year Transactions,Do Not Direct Mail Solicit,Do Not Email,Do Not Telemarket,Repurchase Method,Last Transaction Channel,...,Executive Chair,Standard Chair,Monitor,Printer,Computer,Insurance,Toner,Office Supplies,Number of Employees,Language
16172,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
office_supply.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16173 entries, 0 to 16172
Data columns (total 21 columns):
Customer Number                      16172 non-null float64
Campaign Period Sales                16172 non-null float64
Historical Sales Volume              16172 non-null float64
Date of First Purchase               16172 non-null datetime64[ns]
Number of Prior Year Transactions    16172 non-null float64
Do Not Direct Mail Solicit           16172 non-null float64
Do Not Email                         16172 non-null float64
Do Not Telemarket                    16172 non-null float64
Repurchase Method                    16172 non-null object
Last Transaction Channel             15730 non-null object
Desk                                 16172 non-null object
Executive Chair                      16171 non-null object
Standard Chair                       16171 non-null object
Monitor                              16171 non-null object
Printer                              16171 non-null object
Computer                             16172 non-null object
Insurance                            16170 non-null object
Toner                                16170 non-null object
Office Supplies                      16172 non-null object
Number of Employees                  16170 non-null object
Language                             11701 non-null object
dtypes: datetime64[ns](1), float64(7), object(13)
memory usage: 2.6+ MB

In [14]:
office_supply.set_index('Date of First Purchase', inplace = True) # set_index to datetime
#
# wrong! shouldn't be set as index( not timely observed data)

In [15]:
office_supply.tail()

,Customer Number,Campaign Period Sales,Historical Sales Volume,Number of Prior Year Transactions,Do Not Direct Mail Solicit,Do Not Email,Do Not Telemarket,Repurchase Method,Last Transaction Channel,Desk,Executive Chair,Standard Chair,Monitor,Printer,Computer,Insurance,Toner,Office Supplies,Number of Employees,Language
Date of First Purchase,,,,,,,,,,,,,,,,,,,,
1994-06-01,167014041.0,0.0,2.558801e+06,7.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,N,,NaN
1995-01-01,167077817.0,0.0,2.355030e+06,6.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,N,,NaN
1996-02-01,167089540.0,0.0,5.845700e+05,2.0,0.0,1.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,N,,NaN
1998-03-15,167235933.0,0.0,1.949425e+06,4.0,0.0,0.0,0.0,NOTICE,PHONE,N,N,N,N,N,N,N,N,N,,NaN
NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
new_office_supply = office_supply.dropna(how = 'all') # droping the last row with all missing values
new_office_supply

,Customer Number,Campaign Period Sales,Historical Sales Volume,Number of Prior Year Transactions,Do Not Direct Mail Solicit,Do Not Email,Do Not Telemarket,Repurchase Method,Last Transaction Channel,Desk,Executive Chair,Standard Chair,Monitor,Printer,Computer,Insurance,Toner,Office Supplies,Number of Employees,Language
Date of First Purchase,,,,,,,,,,,,,,,,,,,,
1968-10-01,86734.0,238.704762,1.468034e+05,15.0,0.0,0.0,0.0,AUTO RENEW,AUTO RENEW,N,N,N,N,N,N,Y,N,Y,6-10,English
1981-06-15,97098.0,281.680000,4.399842e+05,22.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,Y,11-50,English
1962-11-01,100836.0,432.857143,9.704657e+05,19.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,Y,6-10,English
1983-06-01,116390.0,0.000000,2.301936e+05,17.0,0.0,0.0,0.0,NOTICE,PHONE,N,N,N,N,N,N,N,N,Y,1-5,English
1987-07-15,127914.0,1370.166667,2.740333e+04,21.0,0.0,0.0,0.0,NOTICE,BRANCH (PHONE),N,N,N,N,N,N,Y,N,N,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995-12-15,166988514.0,0.000000,7.012954e+05,3.0,0.0,1.0,0.0,AUTO RENEW,AUTO RENEW,N,N,N,N,N,N,Y,N,N,,NaN
1994-06-01,167014041.0,0.000000,2.558801e+06,7.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,N,,NaN
1995-01-01,167077817.0,0.000000,2.355030e+06,6.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,N,,NaN
1996-02-01,167089540.0,0.000000,5.845700e+05,2.0,0.0,1.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,N,,NaN
1998-03-15,167235933.0,0.000000,1.949425e+06,4.0,0.0,0.0,0.0,NOTICE,PHONE,N,N,N,N,N,N,N,N,N,,NaN

In [17]:
new_office_supply.shape # one row is dropped

(16172, 20)

In [18]:
new_office_supply['Language'].fillna("English", inplace =True) # make the missing language 'English'
new_office_supply

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,Customer Number,Campaign Period Sales,Historical Sales Volume,Number of Prior Year Transactions,Do Not Direct Mail Solicit,Do Not Email,Do Not Telemarket,Repurchase Method,Last Transaction Channel,Desk,Executive Chair,Standard Chair,Monitor,Printer,Computer,Insurance,Toner,Office Supplies,Number of Employees,Language
Date of First Purchase,,,,,,,,,,,,,,,,,,,,
1968-10-01,86734.0,238.704762,1.468034e+05,15.0,0.0,0.0,0.0,AUTO RENEW,AUTO RENEW,N,N,N,N,N,N,Y,N,Y,6-10,English
1981-06-15,97098.0,281.680000,4.399842e+05,22.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,Y,11-50,English
1962-11-01,100836.0,432.857143,9.704657e+05,19.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,Y,6-10,English
1983-06-01,116390.0,0.000000,2.301936e+05,17.0,0.0,0.0,0.0,NOTICE,PHONE,N,N,N,N,N,N,N,N,Y,1-5,English
1987-07-15,127914.0,1370.166667,2.740333e+04,21.0,0.0,0.0,0.0,NOTICE,BRANCH (PHONE),N,N,N,N,N,N,Y,N,N,,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995-12-15,166988514.0,0.000000,7.012954e+05,3.0,0.0,1.0,0.0,AUTO RENEW,AUTO RENEW,N,N,N,N,N,N,Y,N,N,,English
1994-06-01,167014041.0,0.000000,2.558801e+06,7.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,N,,English
1995-01-01,167077817.0,0.000000,2.355030e+06,6.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,N,,English
1996-02-01,167089540.0,0.000000,5.845700e+05,2.0,0.0,1.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,N,,English
1998-03-15,167235933.0,0.000000,1.949425e+06,4.0,0.0,0.0,0.0,NOTICE,PHONE,N,N,N,N,N,N,N,N,N,,English

In [19]:
new_office_supply.isna().sum()

Customer Number                        0
Campaign Period Sales                  0
Historical Sales Volume                0
Number of Prior Year Transactions      0
Do Not Direct Mail Solicit             0
Do Not Email                           0
Do Not Telemarket                      0
Repurchase Method                      0
Last Transaction Channel             442
Desk                                   0
Executive Chair                        1
Standard Chair                         1
Monitor                                1
Printer                                1
Computer                               0
Insurance                              2
Toner                                  2
Office Supplies                        0
Number of Employees                    2
Language                               0
dtype: int64

In [20]:
new_office_supply["Last Transaction Channel"].value_counts()

MAIL              7769
AUTO RENEW        3141
WEB               2648
PHONE             1096
BRANCH (POS)       633
BRANCH (PHONE)     411
BILLING             18
IT                  14
Name: Last Transaction Channel, dtype: int64

In [21]:
new_office_supply["Last Transaction Channel"].fillna("MAIL") # fill the missing values by the majority response
new_office_supply

,Customer Number,Campaign Period Sales,Historical Sales Volume,Number of Prior Year Transactions,Do Not Direct Mail Solicit,Do Not Email,Do Not Telemarket,Repurchase Method,Last Transaction Channel,Desk,Executive Chair,Standard Chair,Monitor,Printer,Computer,Insurance,Toner,Office Supplies,Number of Employees,Language
Date of First Purchase,,,,,,,,,,,,,,,,,,,,
1968-10-01,86734.0,238.704762,1.468034e+05,15.0,0.0,0.0,0.0,AUTO RENEW,AUTO RENEW,N,N,N,N,N,N,Y,N,Y,6-10,English
1981-06-15,97098.0,281.680000,4.399842e+05,22.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,Y,11-50,English
1962-11-01,100836.0,432.857143,9.704657e+05,19.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,Y,6-10,English
1983-06-01,116390.0,0.000000,2.301936e+05,17.0,0.0,0.0,0.0,NOTICE,PHONE,N,N,N,N,N,N,N,N,Y,1-5,English
1987-07-15,127914.0,1370.166667,2.740333e+04,21.0,0.0,0.0,0.0,NOTICE,BRANCH (PHONE),N,N,N,N,N,N,Y,N,N,,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995-12-15,166988514.0,0.000000,7.012954e+05,3.0,0.0,1.0,0.0,AUTO RENEW,AUTO RENEW,N,N,N,N,N,N,Y,N,N,,English
1994-06-01,167014041.0,0.000000,2.558801e+06,7.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,N,,English
1995-01-01,167077817.0,0.000000,2.355030e+06,6.0,0.0,0.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,N,,English
1996-02-01,167089540.0,0.000000,5.845700e+05,2.0,0.0,1.0,0.0,NOTICE,MAIL,N,N,N,N,N,N,N,N,N,,English
1998-03-15,167235933.0,0.000000,1.949425e+06,4.0,0.0,0.0,0.0,NOTICE,PHONE,N,N,N,N,N,N,N,N,N,,English

In [26]:
new_office_supply[["Do Not Telemarket","Campaign Period Sales"]]

                        Do Not Telemarket  Campaign Period Sales
Date of First Purchase
1968-10-01                            0.0             238.704762
1981-06-15                            0.0             281.680000
1962-11-01                            0.0             432.857143
1983-06-01                            0.0               0.000000
1987-07-15                            0.0            1370.166667
...                                   ...                    ...
1995-12-15                            0.0               0.000000
1994-06-01                            0.0               0.000000
1995-01-01                            0.0               0.000000
1996-02-01                            0.0               0.000000
1998-03-15                            0.0               0.000000

[16172 rows x 2 columns]